.interactive-reader {
  /* margin: 50px auto; */
  /* max-width: 1400px; */
  line-height: 1.5;
  padding: 10px;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

.interactive-reader h1 {
  margin-bottom: 20px;
}

.interactive-reader p {
  margin-bottom: 10px;
}

.interactive-reader .word.selected {
  background-color: #cce5cd;
  color: #333;
  font-weight: bold;
}
